* {
    font-family: 'Kanit', sans-serif;
}

label {
    font-size: 25px;
}

input {
    margin-bottom: 15px;
}

p {
    font-size: 30px;
}

td, th {
    padding: 20px;
    font-size: 20px;
}

tr {
    border-bottom: 2px solid whitesmoke;
}

.error {
    font-size: 25px;
    color: red;
}

th {
    font-size: 30px;
}

.middle {
    text-align: center;
}