* {
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 30px;
}

td {
    padding: 20px;
    font-size: 20px;
}

tr {
    border-bottom: 2px solid black;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}