* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  padding: 15px;
}

.topper {
    float:left;
    padding: 20px;
    margin: auto;
    width: 100%;
}

p.size40 {
    font-size: 40px;
    font-weight: 500;
  }
  
p.sizep {
    font-size: 20px;
}

.codec {
    float:left;
    padding: 20px;
    margin: auto;
    width: 33%;
}

.codep {
    float:left;
    padding: 20px;
    margin: auto;
    width: 33%;
}

.codej {
    float:left;
    padding: 20px;
    margin: auto;
    width: 33%;
}

@media screen and (max-width:400px) {
    .topper, .codec, .codep, .codej {
        width: 100%;
    }
  }